  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'OpenSans';
  }
  
  #map {
    height: 100% !important;
  }
  
  .controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
    border-radius: 5px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  .pac-container {
    font-family: Roboto;
  }
  
  #type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
  }
  
  #type-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #toolbar {
    text-align: right;
    padding-top: 5px;
    padding-bottom: 10px;
    background:#006873; /*#635F5F;*/
    padding: 10px;
  }
  
  select {
    width: 10.5em
  }
  
  .selectpicker {
    margin: 10px;
    background: transparent;
    color: whitesmoke;
    border-radius: 2px;
    width: 250px;
    outline: none;
  }
  
  /*.navbar,
  .navbar-inverse {
    border-radius: 0;
    background: grey;
    border: none;
    color: white;
    margin: 0;
    z-index: 5;
  }*/
 
  .navbar-inverse {
    border-radius: 0;
    background: #006873;/*grey;*/
    border: none;
    color: white;
    margin: 0;
    z-index: 5;
  }
  

  .navbar-default {
    border-radius: 0;
    background: whitesmoke;
    border: none;
    color: white;
    margin: 0;
    z-index: 5;
  }

  .navbar-default ul li a{
    padding:0px;
  }

  .navbar-default img {
    height: 25px;
    width: 25px;
  }

  .navbar h2 {
    color: white;
    display: inline;
    font-size:30px;
  }
  
  #statusbar h2 {
    color: black;
    display: inline;
    font-size: 17px;
  }
  
  #statusbar {
    /*padding-left: 50px;*/
    margin: 0;
    background: whitesmoke;
  }

    #statusbar {
   position: relative;
    z-index: 1;
    text-align: center;
    -webkit-box-shadow: 0px 5px 34px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 34px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 34px 0px rgba(0, 0, 0, 0.75);
  }
  
  #statusbar img {
    height: 25px;
    width: 25px;
  }
  

  #heading {
    position: absolute;
    top: 5px;
    left: 20px;
    z-index: 999;
  }
  
  #actionToolbar {
    padding: 20px;
  }
  

  #mainContent {
    margin: 0;
    padding: 0;
  }
  
  .nopadding {
    padding: 0;
  }
  
  .nomargin {
    margin: 0;
  }
  
  .noborder {
    border: 0;
  }
  
  .widht60percent {
    width: 60%;
  }
  
  .widht40percent {
    width: 40%;
  }
  
  .aligncenter {
    text-align: center;
  }
  
  #tabcontent {
    padding: 0;
  }
  
  #avilable table,
  #busy table {
    margin: 0;
  }
  
  /*#map {
    height: 610px;
  }*/
  
  #leftsidebar {
    background: #e1e1ea;
    /*height: 680px;*/
  }
  
  #rightsidebar {
    background: #e1e1ea;
    /*height: 680px;*/
  }
  
  .col-sm-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  
  h4 {
    letter-spacing: 2px;
    color: #F3F0F0;
  }
  
  .style {
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
  }
  
  .style1 {
    border-style: solid;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
  }
  
  a {
    color: #006873;/*#635F5F;*/
  }
  
  .dataTables_length,
  .dataTables_filter {
    display: none;
  }
  
  .color {
    color: #BE0411, #4D93C7, #FFD50B, #78AC2C;
  }
  
  #drivercontainer {
    /*height: 610px;*/
    overflow: scroll;
    overflow-x: hidden;
  }
  
  #drivertable {
    margin: 0;
  }
  
  #drivertable td {
    padding: 5px;
    font-family: sans-serif;
    font-size: 30px;
  }
  
  #drivertable div p {
    float: left;
    margin: 0;
  }
  
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
  }
  
  .gmnoprint a,
  .gmnoprint span,
  .gm-style-cc {
    display: none;
  }
  
  .gmnoprint div {
    background: none !important;
  }
  
  #drivercontainer li a {
    font-size: 13px;
    padding: 5px 3px;
    border: 0;
    /*min-width: 50px;*/
    margin: 2px auto;
    width: auto;
  }
  
  h5 {
    /*background-color: lightgrey;*/
    background-color: #006873;/*#CACECE;*//*#CBCCCC;*/
    font-size: 13px;
    line-height: 30px;
    margin-top: 1px;
    margin-bottom: 0px;
    /*padding-left: 10px;*/
  }
  
  h5 p {
    background-color: #fff;
    font-size: 13px;
  }
  
  /*hide cross mark on infowindow*/
  /*.gm-style-iw + div {
    display: none;
  }*/
  
  option {
    background-color: #006873;/*#635F5F;*/
  }

  /*.col-sm-2{
    width:200px;
  }*/

  #search {
    /*width: 254px;*/
    width:100%;
    padding-top: 3px;
    padding-bottom: 2px;
    border-bottom-width: 3px;
   
    /*padding-left: 27px;*/
  }

 .btn-default {
   background-color: whitesmoke; 
   /*border: none;*/
   border-color: rgba(81, 100, 107, 0.27);
  }

 .btn-default:hover {
    background-color: white !important;/*#006873;*//*#989A9A;*/
    border-color: rgba(81, 100, 107, 0.27);
    /*color: #161b1d;*/
    color: black !important;
 }

.btn-default:focus {
    background-color:white !important;/* #006873;*//*#989A9A;*/
    border-color: rgba(81, 100, 107, 0.27);
    /*color: #161b1d;*/
    color: black !important;
}

.btn-default.raised {
     background-color:white !important;/*#006873;*//* #989A9A;*/
     color: black !important;/*white;*/
}

.position {
    position:absolute;
    margin-left: -11px;
    margin-top: 24px;
}


/*responsive*/

/*@media (min-width: 1200px){
  .col-lg-2 {
      margin-left: 40px;
      width: 16.66666667%;
  }
}*/
@media (min-width: 320px){
  div.col-xs-6{
    width: 52%
  }
}

@media (min-width: 375px){
  div.col-xs-6{
    width: 50%
  }
}

@media (min-width: 425px){
  .navbar-default ul li a {
      margin-left: 2vw;
  }
  div.col-xs-6{
    width: 50%
  }
}

@media (min-width: 768px){
  .navbar-default ul li a {
      margin-left: 1vw;
  }
  .navbar-header, #wrapper{
    display: none;
  }
  /*#drivercontainer li a {
    font-size: 10px;
  }*/
  .nav-tabs > li > a {
    min-width: 0px;
  }
  #left{
    display:none;
  }
}

@media (max-width: 916px){
  .btn {
    width: auto !important;
  }
}

@media (max-width: 767px){
  #drivercontainer {
      display: none;
  }
  #left{
    display:block;
  }
}

@media (min-width: 1024px){
  .navbar-default ul li a {
      margin-left: 2vw;
  }
}

@media (min-width: 1200px){
  .navbar-default ul li a {
      /*margin-left: 7vw;*/
      margin-left: 4vw;
  }
}

@media (min-width: 1366px){
  .navbar-default ul li a {
      /*margin-left: 9vw;*/
      margin-left: 5vw;
  }
}

@media (min-width: 1440px){
  .navbar-default ul li a {
      /*margin-left: 9vw;*/
      margin-left: 6vw;
  }
}

/*@media (min-width: 1024px){
  .col-md-2 .btn{
      width:140px;
  }
}*/
.container-fluid{
  padding-left: 5px;
  margin-top:6px;
}

.btn {
  padding-left: 10px;
  padding-right: 10px;
  width: 137px;
}

div.col-xs-6.col-sm-4.col-md-2.col-lg-2{
  padding: 0px;
}

.restSpace {
  height: 84vh !important;
}

.modal-backdrop.in {
    opacity: 0;
}

.modal-content {
    border-radius: 10px 0px 0px 10px !important;
    background-color: whitesmoke;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
	.modal.left .modal-dialog,
	.modal.right .modal-dialog {
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
        z-index: 1050;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}

	.modal.left .modal-content,
	.modal.right .modal-content {
		height: 100%;
		overflow-y: auto;
	}
	
	.modal.left .modal-body,
	.modal.right .modal-body {
		padding: 15px 15px 80px;
	}

 /*mobile view for right side bar*/ 
 /*Right*/
	.modal.right.fade .modal-dialog {
		right: -320px;
		-webkit-transition: opacity 0.6s linear, right 0.6s ease-out;
		   -moz-transition: opacity 0.6s linear, right 0.6s ease-out;
		     -o-transition: opacity 0.6s linear, right 0.6s ease-out;
		        transition: opacity 0.6s linear, right 0.6s ease-out !important;
	}
	
	.modal.right.fade.in .modal-dialog {
		right: 0;
	}

/* ----- MODAL STYLE ----- */

/*Left*/
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
.modal.left.fade.in .modal-dialog{
		left: 0;
}

#myModal2 hr{
  margin:10px;
}

#navbarCollapse ul li a img{
  margin-top:-9px;
}

.btn{
  color:white;
}