<!DOCTYPE html><html lang="en" ng-app="BlurAdmin"><head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Blur Admin</title><link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,latin-ext,cyrillic" rel="stylesheet" type="text/css"><link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/css/jquery.dataTables.css">
        
        <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png"><link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png"><link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png"><link rel="stylesheet" href="styles/vendor-f0a6e6463a.css"><link rel="stylesheet" href="styles/app-b989473ce9.css"></head><body><div class="body-bg"></div><main ng-if="$pageFinishedLoading" ng-class="{ 'menu-collapsed': $baSidebarService.isMenuCollapsed() }"><ba-sidebar></ba-sidebar><page-top></page-top><div class="al-main"><div class="al-content"><content-top></content-top><div ui-view=""></div></div></div><footer class="al-footer clearfix"><div class="al-footer-right">Created with <i class="ion-heart"></i></div><div class="al-footer-main clearfix"><div class="al-copy">PQ Admin 2016</div></div></footer><back-top></back-top></main><div id="preloader" ng-show="!$pageFinishedLoading"><div></div></div><script src="https://rawgithub.com/eligrey/FileSaver.js/master/FileSaver.js" type="text/javascript"></script><script src="scripts/vendor-8eae1f453f.js"></script><script src="scripts/app-a2ab87632f.js"></script></body></html>
<style>
    table.dataTable tr.even td.sorting_1, table.dataTable tr.odd td.sorting_1{
        background-color: inherit !important;
    }
    .dataTables_wrapper .dataTables_paginate .paginate_button{
        color:black !important;
    }
</style>